<nb-layout>
  <nb-layout-header fixed>
    <h4>Dotta Taj-mers</h4>

    <nb-actions size="medium">
      <nb-action (click)="startTimer()" icon="nb-power-circled"></nb-action>
      <nb-action (click)="sendMessage('sdsdsd', 'John', 'https://i.gifer.com/no.gif', false)" icon="nb-person" disabled></nb-action>
      <nb-action icon="nb-gear" disabled></nb-action>
    </nb-actions>

  </nb-layout-header>

 <!--  <nb-sidebar>Sidebar Content</nb-sidebar> -->

  <nb-layout-column>
    <nb-card>
        <nb-card-body>
             {{ timer3 }}
            {{ timer4 }}
         <h1>{{ timer$ | minuteSeconds }}</h1>
         </nb-card-body>
      </nb-card>

          <nb-card *ngIf="spawned">
            <nb-card-header>Power-up rune spawns!  {{ spawntimer }}</nb-card-header>
            <nb-card-body>
                <nb-progress-bar [value]="timer2"></nb-progress-bar>
            </nb-card-body>
        </nb-card>

  </nb-layout-column>

  <nb-sidebar>
    <nb-alert status="success">
      Grief box.
    </nb-alert>
  </nb-sidebar>


</nb-layout>
