<nb-card>
    <nb-card-header>Check your privilage!</nb-card-header>
    <nb-card-body>
        <button  (click)=" makeTimeTable()" nbButton fullWidth status="danger">Make timetable</button>
        <p>Pellentesque at dui eget turpis tincidunt sagittis id id dui. Phasellus leo arcu,
          ultricies in cursus eget, tempus at metus. Quisque vestibulum nec tellus at porttitor.
          Aenean posuere vestibulum odio, ut pharetra est dignissim ac.
        </p>

    </nb-card-body>
    <nb-card-footer>
        <button  (click)="closeModal('custom-modal-1');" nbButton fullWidth status="danger">Fuck this</button>
    </nb-card-footer>
</nb-card>
